{% extends "template.html" %}
{% block body %}
    <div class="sticky" id="sticky">
        <h1>Sanotut</h1>
        {% include "purkka.html" %}
        <a href="/">Uusimmat</a> -
        <a href="/top">Parhaat</a>
        <br>
        <a href="/add">Lisää</a> -
        <a onclick="to_top()">Ylös</a> -
        <a onclick="to_bottom()">Alas</a> -
        <a onclick="to_random()">Jonnekin</a>
    </div>
    <div class="entries" id="entries">
    {% for entry in entries %}
        <div class="entry" id="{{ entry[0] }}">
            <hr>
            {% if entry[1] %}
            <span class="time">{{ entry[1] }}</span>
            {% endif %}
            <span> &#124; </span><span class="points">{{ entry[4] }}</span><span> pistettä &#124; </span>

            <span class="upvote" onclick="upvote({{ entry[0] }})">++</span>
            <span>&#124;</span>
            <span class="downvote" onclick="downvote({{ entry[0] }})">--</span>
            {% if entry[4] > -5 %}
            <pre>{{ entry[2]|safe }}</pre>
            {% else %}
            <span>&#124;</span>
            <span class="unhide" onclick="unhide({{ entry[0] }})">Näytä</span>
            <pre class="hidden">{{ entry[2]|safe }}</pre>
            {% endif %}
        </div>
    {% else %}
        <pre>No entries</pre>
    {% endfor %}
    </div>
    <script type="text/javascript" src="/static/sanotut.js"></script>
{% endblock %}
