{% extends "template.html" %}
{% block body %}
    <div class="sticky" id="sticky">
        <h1>Sanotut</h1>
        {% include "purkka.html" %}
        <a href="/">Uusimmat</a> -
        <a href="/top">Parhaat</a> -
        <a href="/bottom">Huonoimmat</a> -
        <a href="/add">Lisää</a>
        <br>
        <a onclick="to_top()">Ylös</a> -
        <a onclick="to_bottom()">Alas</a> -
        <a onclick="to_random()">Jonnekin</a>
    </div>
    <div class="entries" id="entries">
    {% for entry in entries %}
        <div class="entry" id="{{ entry[0] }}">
            <div class="posthead"><div class="postheadsec">
                {% if entry[1] %}
                    <span class="time">{{ entry[1].strftime('%d.%m.%Y') }}</span>
                    <span> &#124; </span>
                {% endif %}

                <span class="nappi upvote {{ 'voted' if hasvoted(entry[0], voted, 1) else ''}}" onclick="upvote({{ entry[0] }})" title="Äänestä +">▲</span>
                <span class="points">{{ entry[4] }}</span>
                <span class="nappi downvote {{ 'voted' if hasvoted(entry[0], voted, -1) else ''}}" onclick="downvote({{ entry[0] }})" title="Äänestä -">▼</span>

                <span>&#124;</span>
                {% if entry[4] <= -5 and not nohide %}
                    <span class="nappi" onclick="unhide(this, {{ entry[0] }})">Näytä</span>
                {% else %}
                    <span class="nappi" onclick="hide(this, {{ entry[0] }})">Piilota</span>
                {% endif %}
            </div></div>
            <pre class="{{ 'hidden' if entry[4] <= -5 and not nohide else '' }}">{{ entry[2]|safe }}</pre>
        </div>
    {% else %}
        <pre>No entries</pre>
    {% endfor %}
    </div>
    <script type="text/javascript" src="/static/sanotut.js"></script>
{% endblock %}
