{% extends "template.html" %}
{% block body %}
    <a href="/">Takaisin</a><br>
    <br>

    <p>Pääset äänestämään sanottuja vain jos rekisteröidyt.</p>

    <form action="/onregister" method="POST">
        <input type="text" placeholder="email" id="email" name="email"> Muotoa nick@paivola.fi (Ei etunimi.sukunimi@paivola.fi)<br>
        <input type="password" placeholder="password" id="password" name="password"> Yli viisi merkkiä. Käytäthän eri salasanaa kuin shellillä!<br>
        <input type="submit" value="Rekisteröi">
    </form>
{% endblock %}
