<h3>Säännöt</h3>
<ul>
    <li><strong>Ei asiattomia sanottuja</strong></li>
    <li><em>Päiväys lisätään automaattisesti</em> viestin alkuun.</li>
    <li><em>Rivinvaihdot lisätään automaattisesti</em>, älä käytä HTML-tageja.</li>
    <li>Kerro aikaisemmat tiedot (mistä puhuttiin jne.) vain jos niillä on merkitystä.</li>
    <li>Älä irrota asioita kontekstistaan</li>
    <li><strong>Älä laske sanottujen tasoa</strong></li>
    <li><strong>Ei HTML:ää</strong> (automaaginen escape)</li>
    <li>Mieti aina sanottua lisätessä, <ul>
        <li><strong>Avautuuko sen hauskuus niillekin, jotka eivät olleet paikalla</strong></li>
        <li><strong>Onko sanottu hauska vielä huomennakin?</strong></li>
        <li>Loukkaako sanottu jotakuta?</li>
        <li>Menikö juttu ihan noin vai onko asiaa väritetty pahasti?</li>
    </ul></li>
    <li>Ei hymiöitä</li>
    <li>Ei "hauskaa" lisäkommentointia. Jos juttu kuuluu sanottuihin, se ei tarvitse letkauksia (eli <strong>ei</strong> "Näin Päivölässä" tai "Kyllä sukupolvi z osaa")</li>
    <li>Ei (kaikkia) IRC-quoteja</li>
</ul>
