<h3>Säännöt</h3>
<ul>
    <li><b>Ei asiattomia sanottuja</b></li>
    <li><i>Päiväys lisätään automaattisesti</i> viestin alkuun.</li>
    <li><i>Rivinvaihdot lisätään automaattisesti</i>, älä käytä HTML-tageja.</li>
    <li>Kerro aikaisemmat tiedot (mistä puhuttiin jne.) vain jos niillä on merkitystä.</li>
    <li>Älä irrota asioita kontekstistaan</li>
    <li><b>Älä laske sanottujen tasoa</b></li>
    <li><b>Ei HTML:ää</b> (automaaginen escape)</li>
    <li>Mieti aina sanottua lisätessä, <ul>
        <li><b>Avautuuko sen hauskuus niillekin, jotka eivät olleet paikalla</b></li>
        <li><b>Onko sanottu hauska vielä huomennakin?</b></li>
        <li>Loukkaako sanottu jotakuta?</li>
        <li>Menikö juttu ihan noin vai onko asiaa väritetty pahasti?</li>
    </ul></li>
    <li>Ei hymiöitä</li>
    <li>Ei "hauskaa" lisäkommentointia. Jos juttu kuuluu sanottuihin, se ei tarvitse letkauksia (eli <b>ei</b> "Näin Päivölässä" tai "Kyllä sukupolvi z osaa")</li>
    <li>Ei (kaikkia) IRC-quoteja</li>
</ul>
